#ZyntraCode2{
    text-align: center;
    color: rgb(6, 162, 197);
    padding: 10px 20px;
}

#test_champ {
    padding: 10px 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: absolute;
    left: 40%;
    right: 40%;
    background-color: black;
    border-color:white;
    border-radius: 10px;
}

#test_champ:focus{
    border-color: rgb(6, 162, 197);
    background-color: rgb(96, 95, 95);
    box-shadow: 0px 0px 10px cyan,
                0px 0px 10px cyan,
                0px 0px 10px cyan;
}

#test_champ:hover{
    border-color: rgb(6, 162, 197);
    background-color: rgb(96, 95, 95);
}

#bouton_recherche {
    padding: 10px 20px;
    position: absolute;
    border: 10px;
    right:40%;
    left: 40%;
    border-radius: 10px;
    margin-top: 60px;
    background-color: rgb(14, 218, 170);
}

#bouton_recherche:focus{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(14, 218, 170),
                0px 0px 10px rgb(14, 218, 170),
                0px 0px 10px rgb(14, 218, 170);
}
#bouton_recherche:hover{
    background-color: white;
}


#o_article {
    padding: 10px 20px;
    font-weight: 1500;
    position: absolute;
    left: 40%;
    right: 40%;
    margin-top: 150px;
    color: white;
}


/* bouton hamburger */
#menu-btn {
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    color: white;
    background-color: black;
    border: none;
}

#txt_inver {
    text-align: center;
    color: red;
    border-color: red;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    input {
        width: 90%;
    }

    button {
        width: 90%;
    }
}


body{
    background-color: black;
}
