#bot_dsd{
  padding:10px 20px;
  text-align:center;
  color:rgb(15,190,175);
}

#bar_rhr{
  padding: 10px 20px;
  width:90%;
  max-width:320px;
  margin:10px auto;
  display:block;
  background-color: black;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  border-color:white;
}

#btn_rhr{
  width:90%;
  max-width:320px;
  margin:10px auto;
  display:block;
  color:black;
  background-color: rgb(14, 218, 170);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  margin-top: 30px;
}

#o_bot{
  color:white;
  margin-top:40px;
  text-align:center;
}

#menu-btn{
  padding:10px 20px;
  margin-top: 2%;
  color:white;
  background:black;
  border:none;
}

/* PC */
@media (min-width: 768px) {
  #menu {
    display: block; /* toujours visible */
    position: fixed;
    width: auto;
    height: auto;
    background: none;
    border-radius:10px;
    box-shadow: 0px 0px 15px rgb(21, 213, 168);
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.3s;
  }

  #menu a {
    display: inline-block;
    padding: 10px;
  }

  #menu-btn {
    display: none; /* cacher bouton sur PC */
  }
}

body{
  background:black;
  margin:0;
  text-align:center;
  overflow-x:hidden;
}
