#bot_dsd {
    padding: 10px 20px;
    text-align: center;
    color:rgb(15, 190, 175);
    font-family: Arial, Helvetica, sans-serif;
}

#bar_rhr{
    padding: 10px 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: absolute;
    left: 40%;
    right: 40%;
    background-color: black;
    border-color:white;
    border-radius: 10px;
}

#bar_rhr:focus{
    border-color: rgb(6, 162, 197);
    background-color: rgb(96, 95, 95);
    box-shadow: 0px 0px 10px cyan,
                0px 0px 10px cyan,
                0px 0px 10px cyan;
}

#bar_rhr:hover{
    border-color: rgb(6, 162, 197);
    background-color: rgb(96, 95, 95);
}


#btn_rhr{
    padding: 10px 20px;
    position: absolute;
    left: 40%;
    right: 40%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(15, 190, 175);
}

#btn_rhr:focus{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(14, 218, 170),
                0px 0px 10px rgb(14, 218, 170),
                0px 0px 10px rgb(14, 218, 170);
}

#btn_rhr:hover{
    background-color: white;
}


#o_bot{
    padding: 10px 20px;
    color: white;
    position: absolute;
    left: 40%;
    right: 40%;
    margin-top: 150px;
}

/* bouton hamburger */
#menu-btn {
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    color: white;
    background-color: black;
    border: none;
}

body{
    background-color: rgb(0, 0, 0);
}