#bot_dsd{
  padding:10px 20px;
  text-align:center;
  color:rgb(15,190,175);
}

#bar_rhr,
#btn_rhr{
  width:90%;
  max-width:320px;
  margin:10px auto;
  display:block;
}

#o_bot{
  color:white;
  margin-top:40px;
  text-align:center;
}

#menu-btn{
  padding:10px 20px;
  color:white;
  background:black;
  border:none;
}

body{
  background:black;
  margin:0;
  text-align:center;
  overflow-x:hidden;
}
