#tte_p {
    padding: 10px 20px;
    color: rgb(15, 190, 175);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 80px;
    font-size: 48px;
}
#txt_n {
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#txt_E {
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#pfch {
    padding: 10px 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#ou {
    color: white;
    text-align: center;
}
/* MENU */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #1a1a1a;
    width: 180px;
    height: 100vh;
    padding: 60px 10px 10px 10px;
    box-shadow: 0px 0px 15px rgb(21, 213, 168);
    z-index: 1000;
}
#menu a {
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 10px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
}
#menu a:hover {
    color: rgb(21, 213, 168);
    background: #2a2a2a;
}
.hidden {
    display: none;
}
/* BOUTON MENU */
#menu-btn {
    padding: 8px 15px;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1001;
    color: rgb(21, 213, 168);
    background-color: transparent;
    border: 2px solid rgb(21, 213, 168);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
/* PC */
@media (min-width: 768px) {
    #menu-btn {
        display: block;
    }
}
/* MOBILE */
@media (max-width: 600px) {
    #tte_p {
        font-size: 32px;
    }
}
body {
    background-color: #0a0a0a;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 180px; /* ← décale le contenu pour pas qu'il soit sous le menu */
}
